* { box-sizing: border-box; }
html, body { width: 100%; height: 100%; margin: 0; }
body { padding: 8px; background-color: black; color: white; font-family: Helvetica, Arial, sans-serif; }

h1 { text-align: center; }


.bit-setup {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: .5em;
}
.bit-setup > div > div {
	display: flex; flex-direction: row-reverse;
	align-items: center; gap: .5em;
}
.bit-setup > div > p { font-size: 1.1em; }
.bit-setup > div > div > p {
	border: none; font-size: 1.5em;
	width: 1.25em; height: 1.5em;
	margin: 0px; line-height: 1.5em;
}
.bit-setup > div .setup-buttons {
	display: inline-block; width: 1.25em; height: 1.25em;
	border-radius: 0.625em; line-height: 1.25em; font-weight: bold;
}
.bit-setup > div > div > p, .bit-setup > div .setup-buttons {
	text-align: center; user-select: none; background-color: #202020;
}
.bit-setup > div > div > p:hover, .bit-setup > div .setup-buttons:hover {
	background-color: #161616; cursor: pointer;
}

.bit-setup > .setup-exp { color: #5f5; text-align: right; }
.bit-setup > .setup-exp > div { justify-content: right; }

.bit-setup > .setup-mant { color: #55f; text-align: left; }
.bit-setup > .setup-mant > div { justify-content: left; }