* { box-sizing: border-box; }
html, body { width: 100%; height: 100%; margin: 0; }
body { padding: 8px; }




.bit-setup {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
}
.bit-setup > div > div {
	display: flex; flex-direction: row-reverse;
	align-items: center; gap: 1em;
}
.bit-setup > div > div > button {
	border: none; font-size: 2em;
	width: 1.25em; height: 1.5em;
	padding: 0px; line-height: 0px;
	color: unset; background-color: #eee;
}
.bit-setup > div > div > button:hover {
	background-color: #ccc;
}
.bit-setup > div > div > button:first-child {
	height: 1.25em; border-radius: 0.625em;
}

.bit-setup > .setup-exp { color: green; text-align: right; }
.bit-setup > .setup-exp > div { justify-content: right; }
.bit-setup > .setup-exp > div > button:first-child { order: 1; }

.bit-setup > .setup-mant { color: blue; text-align: left; }
.bit-setup > .setup-mant > div { justify-content: left; }
.bit-setup > .setup-mant > div > button:first-child { order: -1; }